{% extends "base.html" %}

{%from "error_fields.html" import render_field %}
{% block content %}
<div class="container">
	<section class="w-50 m-auto">
		<h1 class="text-center h5"> Create {{ title }}</h1>
		<form action="" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				{{form.hidden_tag()}}
			</div>
			{{ render_field(form.ticket_name) }}
			{{ render_field(form.ticket_type) }}
			{{ render_field(form.price) }}
			{{ render_field(form.quantity) }}
			{{ render_field(form.status) }}
			{{ render_field(form.image) }}

			<div class="form-group d-flex justify-content-center">
				{{ form.submit(class="btn btn-outline-success mt-3 mb-3 w-50") }}
			</div>
		</form>
	</section>
</div>
{% endblock %}