<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="text-center pt-3 pb-3">
    <img
      src="{{ url_for('static', filename='img/profile_pics/' + current_user.profile_pic) }}"
      alt="User profile Picture"
      class="profile-pic-md rounded-circle m-auto"
    />

    <h2 class="mb-0">{{ current_user.username }}</h2>
    <p class="mb-0">{{ current_user.email }}</p>
  </div>
  <div class="list-group list-group-flush">
    <a
      href="{{ url_for('user.home') }}"
      class="list-group-item list-group-item-action bg-light"
      >Home</a
    >
    <a
      href="{{ url_for('user.profile')}}"
      class="list-group-item list-group-item-action bg-light"
      >Profile</a
    >

    <a
      href="{{ url_for('events.user_events', username=current_user.username) }}"
      class="list-group-item list-group-item-action bg-light"
      >My Events</a
    >

    <a
      href="{{ url_for('ticket.get_user_tickets', user_id = current_user.id) }}"
      class="list-group-item list-group-item-action bg-light"
      >My tickets</a
    >
    <a
      href="{{ url_for('user.add_testimonial') }}"
      class="list-group-item list-group-item-action bg-light"
      >Talk About us</a
    >

    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Settings</a
    >
    <a
      href="/about#contact"
      class="list-group-item list-group-item-action bg-light"
      >Help</a
    >
    <a
      href="{{ url_for('user.logout')}}"
      class="list-group-item list-group-item-action bg-light"
      >Logout</a
    >
  </div>
</div>
<button
  class="sidebar-toggler border-0 navbar-toggler"
  type="button"
  data-bs-target="#sidebar-wrapper"
  aria-controls="sidebar"
  aria-expanded="false"
  aria-label="Toggle sidebar"
  id="sidebar-toggler"
>
  <span class="menu-icon">&#9776;</span>
  <!-- Three horizontal bars icon -->
</button>
