{% extends "base.html" %}

{%from "error_fields.html" import render_field %}


{% block content %}


<div class="container-fluid">
	<div class="row mb-4">
		<div class="col-md-3">
			{% include "user/sidebar.html" %}
		</div>
		<div class="col-md-9">
			<section class="container">




				<section class="w-75 m-auto">
					<h1 class="text-center h5"> Create {{ title }}</h1>
					<form action="" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							{{form.hidden_tag()}}
						</div>
						{{ render_field(form.image) }}


						<div class="row">
							<div class="col-md-6">
								{{ render_field(form.event_name) }}
								{{ render_field(form.description) }}{{ render_field(form.start_date) }}
								{{ render_field(form.start_time) }}
								{{ render_field(form.venue) }}
							</div>
							<div class="col-md-6">
								{{ render_field(form.capacity) }}
								{{ render_field(form.price) }}
								{{ render_field(form.end_date) }}
								{{ render_field(form.end_time) }}


								<div class="form-group">
									{{ form.category.label }}
									{{ form.category(class="form-control") }}
									<a href="{{ url_for('events.add_category') }}">Add new category</a>
								</div>
							</div>

						</div>

						<div class="form-group d-flex justify-content-center">
							{{ form.submit(class="btn btn-outline-success mt-3 mb-3 w-50") }}
						</div>
					</form>
				</section>
		</div>

	</div>
	</section>

</div>
</div>
</div>
{% endblock content %}