{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-3">
      {% include "user/sidebar.html" %}
    </div>
    <div class="col-md-9">
      <section class="container">
        <h1 class="mb-3">{{ title }}</h1>
        <div class="row">
          {% for event in events %}
          <div class="col-sm-6 col-md-4">
            <div class="card m-auto mb-4">
              <img
                src="{{ url_for('static', filename='img/event_pics/' + event.image) }}"
                alt="Event Image"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">{{event.event_name}}</h5>
                {% if event.organizers[0] == current_user %}
                <div class="btn-group">
                  <a
                    href="{{ url_for('events.update_event', event_id=event.id)}}"
                    class="btn btn-sm btn-outline-secondary border-0"
                    >Edit</a
                  >
                  <button
                    class="btn btn-sm btn-outline-danger border-0"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                  >
                    Delete
                  </button>
                </div>
                {% endif %}

                <p class="start-date text-danger small-text mb-1">
                  {{ event.start_date.strftime('%B %d, %Y') }}, {{
                  event.start_time.strftime('%I:%M %p') }}
                </p>
                <p class="small-text text-muted mb-1">{{event.venue}}</p>
                <p text-muted>
                  Ticket
                  <span class="btn-group">
                    <a
                      href="{{ url_for('ticket.purchase_ticket', event_id=event.id) }}"
                      class="btn btn-sm btn-outline-secondary border-0"
                      >Buy
                    </a>
                    {% if event.organizers[0] == current_user %}
                    <a
                      href="{{ url_for('ticket.new_ticket_type', event_id=event.id) }}"
                      class="btn btn-sm btn-outline-secondary border-0"
                      >Create
                    </a>
                    <a
                      href="{{ url_for('ticket.get_ticket_types', event_id=event.id)  }}"
                      class="btn btn-sm btn-outline-secondary border-0"
                      >view</a
                    >
                    {% else %}
                    <a
                      href="{{ url_for('ticket.get_ticket_types', event_id=event.id)  }}"
                      class="btn btn-sm btn-outline-secondary border-0"
                      >view</a
                    >
                    {% endif %}
                  </span>
                </p>
                <a
                  class="card-link"
                  href="{{ url_for('events.user_events', username= event.organizers[0].username, page=page_num) }}"
                  >Organized by: {{ event.organizers[0].username }}</a
                >

                <a
                  href="{{url_for('events.event_detail', event_id =event.id )}}"
                  class="card-link"
                  >Read more</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      {% for event in events %}
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">
                Delete Event?
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure, you want to delete this Event?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <form
                action="{{ url_for('events.delete_event', event_id=event.id) }}"
                method="POST"
              >
                <button
                  type="submit"
                  name="delete"
                  value="delete"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
