<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
	<title>Ticketing System -{% block title %} {{ title }} {% endblock %}</title>
	{% else %}
	<title>Ticketing System </title>
	{% endif %}
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>

	<body>
		<div class="wrapper">
			<!-- Header section -->
			<header class="container header scrolled" id="header">
				<!-- Navigations -->
				<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
					<div class="container-fluid">
						<a class="navbar-brand logo" href="#"><span class="logo-blue">Ticketings</span>Up</a>
						<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
							aria-labelledby="offcanvasNavbarLabel" style="width: 80vw;">
							<div class="offcanvas-header ms-auto">
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
									aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<ul class="navbar-nav m-auto mb-2 mb-lg-0">

									<li class="nav-item">
										<a href="{{ url_for('events.list_events') }}" class="nav-link">Events</a>
									</li>
									<li class="nav-item">
										<a href="{{ url_for('user.home') }}" class="nav-link">About</a>
									</li>
									<li class="nav-item">
										<a href="{{ url_for('user.register') }}" class="nav-link">Services</a>
									</li>
									<li class="nav-item">
										<a href="{{ url_for('user.home') }}" class="nav-link">contacts</a>
									</li>

								</ul>
								<ul class="navbar-nav">
									<!-- Check user auth -->
									{% if current_user.is_authenticated %}
									<li class="nav-item dropdown-center">
										<img src="{{ url_for('static', filename='img/profile_pics/' + current_user.profile_pic) }}"
											alt="User profile Picture" class="profile-pic-sm rounded-circle" />

										<a class="text-muted gap-1 dropdown-toggle small-text" href="#"
											id="profileDropdown" role="button" data-bs-toggle="dropdown"
											aria-expanded="false">
											me
										</a>

										</button>
										<ul class="dropdown-menu dropdown-menu-lg-end"
											aria-labelledby="profileDropdown">
											<li class="dropdown-header">
												<!-- User profile section -->
												<div class="user-profile container">
													<!-- User profile picture -->
													<img src="{{ url_for('static', filename='img/profile_pics/' + current_user.profile_pic) }}"
														alt="User profile Picture" class="profile-pic rounded-circle" />
													<!-- User name -->
													<p class="mb-0">{{ current_user.username }}, {{current_user.role}}
													</p>
													<p class="mb-0">{{ current_user.email }}</p>
													<!-- User role or description -->
													{% if current_user.bio != None %}
													<p class="mb-0">{{ current_user.bio }}</p>
													{% endif %}
												</div>
											</li>
											<li class="dropdown-item"><a href="{{ url_for('user.logout') }}"
													class="text-muted"> View
													Profile</a>
											</li>
											<li><a class="dropdown-item" href="#">Account Settings</a></li>
											<li>
												<hr class="dropdown-divider" />
											</li>
											<li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a>
											</li>
										</ul>
									</li>
									{% else %}

									<li class="nav-item">
										<a href="{{ url_for('user.register') }}" class="nav-link">Sign Up</a>
									</li>
									<li class="nav-item">
										<a href="{{ url_for('user.login') }}" class="nav-link">Log In</a>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</header>

			<main>
				<section class="content">
					<div class="messages container text-center">
						{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
						{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							{{ message }}
						</div>
						{% endfor %}
						{% endif %}
						{% endwith %}
					</div>
					{% block content %}
					{% endblock %}
				</section>
			</main>

			<footer class="bg-dark text-white mt-5">
				<div class="container py-4">
					<div class="row">
						<div class="col-lg-6 col-12">
							<h4 class="mb-3">Ticketing System</h4>
							<p></p>
						</div>
						<div class="col-lg-6 col-12">
							<h4 class="mb-3">Links</h4>
							<div class="d-flex flex-wrap">
								<a href="#" class="text-white me-2 mb-2">About Us</a>
								<a href="#" class="text-white me-2 mb-2">Services</a>
								<a href="#" class="text-white me-2 mb-2">Contact Us</a>
								<a href="#" class="text-white me-2 mb-2">Privacy Policy</a>
								<a href="#" class="text-white me-2 mb-2">Terms of Service</a>
							</div>
						</div>
					</div>
					<div class="border-top pt-3">
						<small class="text-white-50">
							© 2023 Ticketings. All rights reserved
						</small>
					</div>
				</div>
			</footer>

		</div>

		<!-- Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>


	</body>

</html>