{% extends "base.html" %} {% block content %}
<div class="container">
  <!-- Pricing section -->
  <section class="pricing-section my-5">
    <div class="container">
      <h2 class="section-title text-center mb-5">Pricing</h2>
      <p class="m-auto">
        At <span class="logo logo-blue">Tib Events</span>, we are committed to
        providing high-quality service at affordable prices. Our standard
        pricing is as follows:
      </p>
      <div class="pricing-plans row gap-2">
        <div class="pricing-plan col-md-4">
          <h3 class="plan-name">Basic</h3>
          <p class="plan-price">Free</p>
          <ul class="plan-features">
            <li>Event creation and management</li>
            <li>Attendee registration</li>
            <li>Basic event analytics</li>
            <li>Email support</li>
          </ul>
          <a href="#" class="plan-button btn btn-info btn-block">Choose Plan</a>
        </div>
        <div class="pricing-plan col-md-4">
          <h3 class="plan-name">Pro</h3>
          <p class="plan-price">$39.99/month</p>
          <ul class="plan-features">
            <li>All Basic features</li>
            <li>Advanced event analytics</li>
            <li>Customizable registration forms</li>
            <li>Priority email support</li>
          </ul>
          <a href="#" class="plan-button btn btn-info btn-block">Choose Plan</a>
        </div>
        <div class="pricing-plan col-md-4">
          <h3 class="plan-name">Enterprise</h3>
          <p class="plan-price">$99.99/month</p>
          <ul class="plan-features">
            <li>All Pro features</li>
            <li>Event promotion tools</li>
            <li>Ticketing features</li>
            <li>Dedicated account manager</li>
            <li>24/7 phone and email support</li>
          </ul>
          <a href="#" class="plan-button btn btn-info btn-block">Choose Plan</a>
        </div>
      </div>
      <p class="m-auto">
        Each of these services/products offers specific benefits/value. For more
        detailed information or for any custom requirements, feel free to reach
        out to our customer service team. We're here to assist you in any way
        possible to ensure you receive the best value for your investment.
      </p>
      <p class="m-auto">
        We also offer special packages and discounts for any applicable
        situation (e.g. first-time customers, seasonal promotions, etc.).
      </p>
      <p class="m-auto">
        Thank you for choosing
        <span class="logo"><span class="logo-blue">Tib Events</span></span
        >.
      </p>
    </div>
  </section>
</div>
{% endblock %}
